.MainArea{
    display:flex;
    justify-content:space-between;
    margin-top:-43%;
}
.sidebar{
    display:grid;
    width:17%;
    height:1rem;
}
.sidebar>div{
    height:auto;
}
.Home{
    border-bottom:1px black solid;
}
.Quick_Icon{
 display:flex;
 align-items:center;
 font-size:1.7rem;
 height:3rem;
 padding:10px;

}
.Quick_Icon>div{
padding:0 12px;
}
.Main{
    display:grid;
    width:83%;
} 
.Main>div{
    margin:8px 2px;

}
.Videos{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.Video{
justify-content: space-around;
height: 274px;
left:0;
width:250px;
margin:8px;
}
.Logo{
    display:flex;
}
.view{
    font-size: 1.5rem;
    color:black
}

