.MainArea{
    display:flex;
    justify-content:space-between;
    margin-top:-43%;
}
.sidebar{
    display:grid;
    width:17%;
    height:1rem;
}
.sidebar>div{
    height:auto;
}
.Home{
    border-bottom:1px black solid;
}
.Quick_Icon{
 display:flex;
 align-items:center;
 font-size:1.7rem;
 height:3rem;
 padding:10px;

}
.Quick_Icon>div{
padding:0 12px;
}
.Main{
    display:grid;
    width:83%;
} 
.Main>div{
    margin:8px 2px;

}
.Videos{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.Video{
justify-content: space-around;
height: 274px;
left:0;
width:250px;
margin:8px;
}
.Logo{
    display:flex;
}
.view{
    font-size: 1.5rem;
    color:black;
}
@media screen and (max-width:1280px){
    .MainArea{
    margin-top:-60%;
}
}
@media screen and (max-width:1200px){
    .MainArea{
        margin-top:-95%;
    }
    }

    
            @media screen and (max-width:1419px){
                .MainArea{
                    margin-top:-80%;
                }
                }
                @media screen and (max-width:1176px){
                    .MainArea{
                        margin-top:-90%;
                    }
                    }
                    @media screen and (max-width:1077px){
                        .MainArea{
                            margin-top:-100%;
                        }
                        }
                        @media screen and (max-width:1000px){
                            .MainArea{
                                margin-top:-105%;
                            }
                            }
                            @media screen and ( (max-width:900px) and (min-width:800px)) {
                                .MainArea{
                                    margin-top:-180%;
                                }
                                }
                                @media screen and ( (max-width:799px) and (min-width:690px)) {
                                    .MainArea{
                                        margin-top:-140%;
                                    }
                                    }
                                    @media screen and ( (max-width:680px) and (min-width:550px)) {
                                        .MainArea{
                                            margin-top:-160%;
                                        }
                                        }
                                        @media screen and ( (max-width:540px) and (min-width:490px)) {
                                            .MainArea{
                                                margin-top:-200%;
                                            }
                                            }
                                            @media screen and ( (max-width:490px) and (min-width:400px)) {
                                                .MainArea{
                                                    margin-top:-250%;
                                                }
                                                }
                                                @media screen and ( (max-width:399px) and (min-width:300px)) {
                                                    .MainArea{
                                                        margin-top:-180%;
                                                    }
                                                    }